<div class="form-container">
  <%= form_with(model: @task, local: true) do |f| %>
    <div class="form-outline mb-4">
      <%= f.text_field :title, placeholder: "Title" %>
    </div>
    <div class="form-outline mb-4">
      <%= f.text_area :description, class:"form-control", rows: 4, placeholder: "Description of task" %>
    </div>
    <div class="form-check d-flex justify-content-center mb-4">
      <%= f.check_box :completed %>
      <label class="form-check-label">
        Completed?
      </label>
    </div>
    <%= f.submit "Create", class: "btn btn-primary btn-block mb-4" %> <br />
      <%= link_to '[ Cancel and return to todos listing ]', tasks_path, class: "text-info" %>
    </div>
  <% end %>
</div>